{{!--
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div>
    <ul>
        <h1>{{make}} {{model}} <span class="badge bg-secondary">New</span></h1>

        <li>
            <p>Year: <b>
                    <h2>{{year}}</h2>
            </p>
            </b>
        <li> Color: <b>
                <h2>{{color}}</h2>
        </li>
        </b>
        </li>
    </ul>
    <hr>
    <br>
    <br>
    <div>
        <ul>
            <h2><b>Features:</b></h2>
            <hr>
            {{#with features}}
            <p>
                <li><b>Interior</b></li>
            </p>

            {{#with interior}}
            {{#with seats}}
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"> Material: <b>{{material}}</b></li>
                <li class="list-group-item"> Color: <b>{{color}}</b></li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Heated: <b>{{heated}}</b></li>
                <li class="list-group-item">Ventilated: <b>{{ventilated}}</b></li>
                {{/with}}
            </ul>
            <br>

            <li>
                <b>Dashboard:</b>
            </li>
            <br>
            {{#with dashboard}}
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Material: <b>{{material}}</b></li>
                <li class="list-group-item">Color: <b>{{color}}</b></li>
            </ul>
            <br>
            <li><b>Display</b></li>
            <br>
            {{#with display}}
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Type: <b>{{type}}</b></li>
                <li class="list-group-item">Size: <b>{{size}}</b></li>
                <li class="list-group-item">resolution: <b>{{resolution}}</b></li>
                <li class="list-group-item">touchscreen: <b>{{touchscreen}}</b></li>
                {{/with}}
            </ul>
            {{/with}}
            <br>

            {{#with audio}}

            <li><b>Audio: </b></li>
            <br>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">System: <b>{{system}}</b></li>
                <li class="list-group-item">Speakers: <b>{{speakers}}</b></li>
                <li class="list-group-item">Subwoofer: <b>{{subwoofer}}</b></li>
                <li class="list-group-item">Bluetooth: <b>{{bluetooth}}</b></li>
                <li class="list-group-item">USB: <b>{{USB}}</b></li>
                {{/with}}
            </ul>
            <br>
            {{/with}}

            <br>
            <hr>
            {{#with exterior}}
            <h4>
                <li><b> Exterior: </b></li>
            </h4>
            </li>
            <li><b>Wheels:</b></li>
            <br>
            {{#with wheels}}
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Size: <b>{{size}}</b></li>
                <li class="list-group-item">Type: <b>{{type}}</b></li>
                <li class="list-group-item">Color: <b>{{color}}</b></li>
            </ul>
            <br>
            {{/with}}

            <li><b>Headlights: </b></li>
            <br>
            {{#with headlights}}
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Type: <b>{{type}}</b></li>
                <li class="list-group-item">Brightness: <b>{{brightness}}</b></li>
                <li class="list-group-item">Automatic: <b>{{automatic}}</b></li>
            </ul>
            <br>
            {{/with}}

            {{#with sunroof}}
            <li><b>Sunroof</b></li>
            <br>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Type: <b>{{type}}</b></li>
                <li class="list-group-item">Size: <b>{{size}}</b></li>
                <li class="list-group-item">Automatic: <b>{{automatic}}</b></li>
            </ul>
            <br>
            {{/with}}
        </ul>
        {{/with}}
        </ul>
        <hr>
        <ul>
            {{#with safety}}
            <h4>
                <li><b>Safety: </b></li>
            </h4>
            <br>
            <li><b>Airbags</b></li>
            <br>
            {{#with airbags}}
            <div class="container text-center">
                <div class="row">
                    <div class="col-6 col-sm-4">Front: {{front}}</div>
                    <div class="col-6 col-sm-4">Side: {{side}}</div>
                    <div class="w-100 d-none d-md-block"></div>
                    <div class="col-6 col-sm-4">Knee: {{knee}}</div>
                    <div class="col-6 col-sm-4">Rear: {{rear}}</div>
                </div>
                {{/with}}
            </div>
        </ul>
        <br>
        <ul>
            <li><b>Assistance:</b></li>
            <br>
            {{#with assistance}}
            <p>blind_spot_monitoring: <b>{{blind_spot_monitoring}}</b></p>
            <p> rear_cross_traffic_alert: <b>{{rear_cross_traffic_alert}}</b></p>
            <p>lane_departure_warning: <b>{{lane_departure_warning}}</b></p>
            <p> adaptive_cruise_control:<b>{{adaptive_cruise_control}}</b></p>
            <p>collision_warning:<b>{{collision_warning}}</b></p>
        </ul>
        {{/with}}
        {{/with}}
    </div>
    {{/with}}
    <hr>
    <ul>
        <h4>
            <li><b>Engine:</b></li>
        </h4>

        <br>
    </ul>
    <ul>
        {{#with engine}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Type: {{type}}</li>
            <li class="list-group-item list-group-item-info">Displacement: {{displacement}}</li>
            <li class="list-group-item list-group-item-info">Horsepower: {{horsepower}}</li>
            <li class="list-group-item list-group-item-info">Torque: {{torque}}</li>
        </ul>
        <br>
        <li><b>Transmission</b></li>
        <br>
        {{#with transmission}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Type: {{type}}</li>
            <li class="list-group-item list-group-item-info">Gears: {{gears}}</li>
        </ul>
        {{/with}}
    </ul>
    <br>
    {{/with}}
    <ul>
        <li><b>Fuel_economy:</b></li>
        <br>
        {{#with fuel_economy}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">City: {{city}}</li>
            <li class="list-group-item list-group-item-success">Highway: {{highway}}</li>
            <li class="list-group-item list-group-item-success">Combined: {{combined}}</li>
        </ul>
        {{/with}}
    </ul>
    <br>
    <ul>
        <li><b>Price:</b></li>
        <br>
        {{#with price}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Base: {{base}}</li>
            <li class="list-group-item list-group-item-warning">Destination: {{destination}}</li>
        </ul>
        <br>
        <li><b>Options: </b></li>
        <br>
        {{#with options}}
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Navigation: {{navigation}}</li>
            <li class="list-group-item list-group-item-warning">Moonroof: {{moonroof}}</li>
            <li class="list-group-item list-group-item-warning">Premium paint: {{premium_paint}}</li>
        </ul>
        {{/with}}
        <br>
        <li><b><u>TOTAL:</u></b></li>
        <br>

        <ul class="list-group">
            <li class="list-group-item list-group-item-danger">TOTAL: {{total}} </li>
        </ul>

        {{/with}}

    </ul>
</div>



{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}