<ul>
    <section>
        <div>
            {{#with navigation}}
            {{#each links}}
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{href}}">{{text}}</a>
                </li>
                {{/each}}
                {{#with button}}
                <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                {{/with}}
                {{/with}}
            </ul>
        </div>
    </section>
    <br>
    <br>
    <section>
        <div>
            <div class="card">
                <div class="card-body">
                    {{#with header}}
                    <ul>
                        <h1>{{title}}</h1>
                        <div class="text-muted">{{description}}</div>
                    </ul>
                    <br>
                    {{#with button}}
                    <br>
                    <button type="button" class="btn btn-primary">{{text}} {{link}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
        <div>
            <div class="row">
                {{#with city}}
                <br>
                <h2>{{title}}</h2>
                {{#each cards}}
                <div class="col-5">
                    {{#with picture}}
                    <div class="card" style="width: 18rem;">
                        <img src="{{src}}" class="card-img-top" alt="{{alt}}">
                        {{/with}}
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            {{#with button}}
                            <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                            {{/with}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div>
            {{#with winner}}
            <p>
            <h2>{{title}}</h2>
            </p>
            {{#with table}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <th scope="row">{{place}}</th>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{nickname}}</td>
                    </tr>
                    <tr>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/with}}
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        <div class="row">
            {{#with gallery}}
            <div>
                <h2>{{title}}</h2>
            </div>
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div>{{name}}</div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">{{items}}</li>
                    </ul>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        <div>
            <div class="row pe-2">
                {{#with relaxion}}
                <br>
                <div class="display-3">{{title}}</div>
                <br>
                {{#each cards}}
                <div class="card text-bg-secondary " style="max-width: 18rem;">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="row">
            {{#with rest}}
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header text-center">{{header}}</div>
                    <div class="card-body text-center">
                        <div class="card-title">{{title}}</div>
                        <p>{{description}}</p>
                        <button type="button" class="btn btn-primary">{{button}}</button>
                    </div>
                    <div class="card-footer text-center">{{footer}}</div>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        <div class="row">
            {{#with proposition}}
            <div class="display-2">{{title}}</div>
            <br>
            {{#each card}}
            <div class="col-5">
                <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </section>
    <hr>
    <section>
        <div class="row">
            {{#with footer}}

            {{#each navigation}}
            <div class="col">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{href}}">{{text}}</a>
                </li>
            </div>
            {{/each}}
            <div class="col-2">
                {{#each socialMedia}}

                <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                {{/each}}
            </div>
            <div class="col-2">
                {{#each partners}}
                <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <br>
    </section>
    <hr>
</ul>